@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

@utility text-balance {
  text-wrap: balance;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@utility animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
